.content{
    margin: 0 !important;
}

.UserTable{
    width: 100%;
    border-collapse: collapse;
    height: 100%;
    border-spacing: 0;
    margin-bottom: 20px;
    //flex
    display: flex;

    @media (min-width: 1200px) {
        margin-left: 150px;
        width: 1100px;
       //center div
         justify-content: center;
         align-items: center;

    }
}

.btn-flotante {
    font-size: 1.5rem; /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: #ffffff; /* Color del texto */
    border-radius: 50%; /* Borde del boton */
    letter-spacing: 2px; /* Espacio entre letras */
    background-color: #74253f; /* Color de fondo */
    padding: 20px 30px 20px 30px; /* Relleno del boton */
    margin: 20px;
    position: fixed;
    bottom: 30px;
    right: 10px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
    text-decoration: none;
  }
  .btn-flotante:hover {
    background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
    .btn-flotante {
      font-size: 2rem;
      padding: 10px 20px 10px 20px;
      bottom: 20px;
      right: 0px;
    }
  }
  .swal2-container {
    z-index: 20000;
  }