.content>.acuerdos-form {
  background-color: #f1f7fc !important;
  @media (max-width: 500px) {
    padding: 0 !important;
  }
  a {
    cursor: pointer;
    color: black !important;
    @media (max-width: 500px) {
      font-size: 0.6rem !important;
    }
  }
}

h6 {
  padding-bottom: 2vh;
  font-weight: bold;
  padding-top: 2vh;
}

.flechaDerecha {
  text-align: right;
  font-size: 28px;
  i{
    font-size: 36px;
    cursor: pointer;
  }
}

.acuerdos-form {
  background: #f1f7fc;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .acuerdos-form {
    padding: 20px 0;
  }
}

.acuerdos-form form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .acuerdos-form form {
    padding: 30px;
  }
}

.acuerdos-form h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.acuerdos-form form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.acuerdos-form form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.acuerdos-form form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.acuerdos-form form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.acuerdos-form form .btn:hover {
  opacity: 1;
}

.acuerdos-form form .btn:active {
  transform: translateY(1px);
}

.acuerdos-form form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}
