@import "base.scss";

.e-all-day-time-zone-row {
  display: none !important;
}

.e-repeat-parent-row {
  display: none !important;
}

.e-repeat-container {
  display: none !important;
}

.e-editor{
    display: none !important;
}