@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@import './base.scss';

.sidebar {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }

  .navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: $primario;
    border-left: 1px solid $primario;
    transition: 0.5s;
    overflow: hidden;
  }
  .navigation.active{
    width: 60px;
    .welcome{
      display: none;
    }
  }
  .welcome{
    padding-left: 15px;
  }
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .navigation ul li:hover,
  .navigation ul li.hovered {
    background: $white;
  }
  .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }

  .navigation ul li:nth-child(2) {
    margin-bottom: 10px;
    pointer-events: none;
    //first span
   
  }

  .navigation ul li:nth-child(1) a span:nth-child(2) {
    margin-top: 25px;
    margin-left: 1px;
  }

  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: $white;
  }
  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: $primario;
  }
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
  }

  .navigation ul li a .icon .shared-class {
    font-size: 1.75em;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }

  /* curva de afuera*/
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px $white;
    pointer-events: none;
  }

  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px $white;
    pointer-events: none;
  }
}
