@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@import "./base.scss";

.sidebar {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }

  .navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: $primario;
    border-left: 1px solid $primario;
    transition: 0.5s;
    overflow: hidden;
  }
  .navigation.active {
    width: 60px;
    .welcome {
      display: none;
    }
  }
  .welcome {
    padding-left: 15px;
  }
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .navigation ul li:hover,
  .navigation ul li.hovered {
    background: $white;
  }
  .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }

  .navigation ul li:nth-child(2) {
    margin-bottom: 10px;
    pointer-events: none;
    //first span
  }

  .navigation ul li:nth-child(1) a span:nth-child(2) {
    margin-top: 25px;
    margin-left: 1px;
  }

  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: $white;
  }
  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: $primario;
  }
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
  }

  .navigation ul li a .icon .shared-class {
    font-size: 1.75em;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }

  /* curva de afuera*/
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px $white;
    pointer-events: none;
  }

  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px $white;
    pointer-events: none;
  }

  .control-section.badge-samples {
    overflow: auto;
  }

  .sample_container.badge-default {
    max-width: 328px;
    margin: auto;
    margin-top: 130px;
  }

  .badge-default .e-btn {
    position: relative;
  }

  .badge-default .e-bigger .e-btn {
    padding: 3px 10px;
  }

  @media only screen and (max-width: 400px) {
    .sample_container.badge-default .e-btn-group {
      left: calc(50% - 111px);
    }
    .sample_container.badge-default #task {
      display: none;
    }
  }

  /* Group Button Customization */

  .badge-default .e-btn-group {
    width: auto;
    position: relative;
    left: calc(50% - 164px);
  }

  .e-btn-group.e-custom-button {
    box-shadow: none;
  }

  .highcontrast .e-btn-group.e-custom-button .e-btn:focus {
    outline: 0px;
    color: white;
  }

  .fabric .e-btn-group.e-custom-button .e-btn,
  .material .e-btn-group.e-custom-button .e-btn,
  .bootstrap .e-btn-group.e-custom-button .e-btn {
    background: #f6f7f9;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    text-transform: initial;
  }

  #update.e-btn {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-right: 1px dotted #aaa;
    width: 100px;
  }

  #task.e-btn {
    border-right: 1px dotted #aaa;
    width: 100px;
  }

  #notify.e-btn {
    padding-left: 24px;
    padding-right: 24px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

  .default .e-badge.e-badge-overlap {
    transform: translateX(-110%);
    z-index: 100;
  }
  .e-badge.e-badge-overlap {
    transform: translate(-100%,100%) !important;
    z-index: 100;
  }
  .e-badge.e-badge-notification{
    padding: 0 !important;
  }
}
