@import "base.scss";
/* purgecss start ignore */
.vAcuerdos {
  .titulo {
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 1em;
  }

  .fuente-Registrado {
    font-family: "Roboto", sans-serif;
    color: #00aeef;
    font-weight: bold;
  }
  .fuente-Cancelado {
    font-family: "Roboto", sans-serif;
    color: #f00;
    font-weight: bold;
  }
  .fuente-En {
      font-family: "Roboto", sans-serif;
      color: #150070;
      font-weight: bold;
  }
  .fuente-Vencido {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #ff0000;
  }
  .fuente-Baja {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #00ff15;
  }
  .fuente-Media {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #ffae00;
  }
  .fuente-Alta {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #ff0000;
  }

  .fuente-subtitulo {
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: bold;
  }
  .row {
    margin: 0;
    padding: 0;
    padding-bottom: .2rem;
    --bs-gutter-x: 0.5rem;
  }
  .btn-primary{
    width: 30%;
    height: 3.5rem;
    border-radius: 0.25rem;
    border: 1px solid #00aeef;
    background-color: #00aeef;
    color: #fff;
    font-family: "Roboto", sans-serif;
  }
  .btn-danger{
    width: 30%;
    height: 3.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ff0000;
    background-color: #ff0000;
    color: #fff;
    font-family: "Roboto", sans-serif;
  }
  .btn-success{
    width: 30%;
    height: 3.5rem;
    border-radius: 0.25rem;
    border: 1px solid #00d512;
    background-color: #00d512;
    color: #fff;
    font-family: "Roboto", sans-serif;
  }
}
/* purgecss end ignore */